body {
    margin: 0;
    font-family: Oswald;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#034c8c;
}


.navbar_logo {
    list-style: none;
    margin: 10px 10px 10px 10px;
}

.navbar_logo i {
    font-size: 36px;
    padding-right: 5px;
    
}

.navbar_logo a {
    font-size: 36px; 
}

.navbar_menu {
    justify-self: center;
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: #049dd9;
    border-radius: 4px;
}

.navbar_log {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_log a {
    font-size: 36px;
    margin: 10px 10px 10px 10px;
    padding-left: 41px;
}

.navbar_log a:hover {
    background-color: #049dd9;
    border-radius: 4px;
}

@media screen and (max-width: 650px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar_menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_log {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_log a {
        width: 100%;
        text-align: center;
    }
    
}