body {
    margin: 0;
    font-family: Oswald;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101820;
    padding: 8px 12px;
}


.navbar_logo {
    font-size: 24px;
    color: white;
}

.navbar_logo i {

    color: #F2AA4C;
}

.navbar_menu {
    justify-self: center;
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: #F2AA4C;
    border-radius: 4px;
}

.navbar_toggleb {
    display: none;
    position: absolute;
    right: 24px ;
    font-size: 36px;
    color: #F2AA4C;

}
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_logo {
        font-size: 36px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }

    .navbar_menu li {
        width: 100%;
        text-align: right;
    }

    .navbar_toggleb {
        display: block;
    }

    .navbar_menu.active {
      display: flex;
    }
    
}